name: MKDocs
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs mkdocs-material pygments pymdown-extensions
    - name: Build mkdocs
      run: |
        mkdocs build --verbose -d build
    - name: Deploy on Github Pages
      uses: JamesIves/github-pages-deploy-action@master
      if: github.ref == 'refs/heads/master'
      env:
        ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BASE_BRANCH: master
        BRANCH: gh-pages
        FOLDER: build
